/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  border-bottom: 2px solid silver;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px;
}

.countries {
  border: 8px solid silver;
  border-right: 4px solid silver;
}
