/* Add your CSS code below */

a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.message__content {
  font-size: 0.9rem;
}

.message--unread {
  border-left: 5px solid blue;
}

.message--old {
  opacity: 0.5;
}

.messages {
  line-height: 2;
}
